/* CSS declarations go here */
:root{
	--mobile-pixel2-width : calc(411px - 10px);
	--mobile-pixel2-height : calc(731px - 10px);
	--mobile-pixel2-left : calc(50% - (411px / 2) + 5px);
	--tank-top-ruler : 20%;
}
/*===========================================================*/
@keyframes pipe_top_to_bot_open{
	from{ top: 0; bottom: 100%; }
	to{ top: 0; bottom : 0;  }
}
@keyframes pipe_top_to_bot_close{
	from{ top: 0; bottom: 0; }
	to{ top: 100%; bottom : 0;  }
}
@keyframes pipe_bot_to_top_open{
	from{ top: 100%; bottom: 0; }
	to{ top: 0; bottom : 0;  }
}
@keyframes pipe_bot_to_top_close{
	from{ top: 0; bottom: 0; }
	to{ top: 0; bottom : 100%;  }
}
@keyframes pipe_left_to_right_open{
	from{ left: 0; right: 100%; }
	to{ left: 0; right : 0;  }
}
@keyframes pipe_left_to_right_close{
	from{ left: 0; right: 0; }
	to{ left: 100%; right : 0;  }
}
@keyframes pipe_right_to_left_open{
	from{ left: 0; right: 100%; }
	to{ left: 0; right : 0;  }
}
@keyframes pipe_right_to_left_close{
	from{ left: 0; right: 0; }
	to{ left: 100%; right : 0;  }
}
@keyframes fan_spin{
	from{ transform: rotate(0deg); }
	to{ transform: rotate(360deg); }
}
@keyframes spraying{
	0%{ top: 25%; height: 0;} 75%{ top: 25%; height: 100%; } 100%{ top: 150%; height: 0; }
}
/*===========================================================*/
.mobile-screen{
	width: calc( 100% - 10px ); height: calc( 100% - 10px ); position: fixed; top: 5px; left: 5px;
}
.mobile-screen.pixel2{
	max-width: var(--mobile-pixel2-width); max-height: var(--mobile-pixel2-height);
	left: var(--mobile-pixel2-left);
}
.mobile-screen .float{ position: absolute; z-index: 1; }
/*===========================================================*/
.tank{
	border: solid transparent 0px; display: inline-block; border-width: 2px;
	width: 100px; height: 140px; border-bottom-left-radius: 6px; position: relative;
	border-bottom-right-radius: 6px; border-top: 0; margin-top: 10px; 
}
.tank:before{
	content: ""; background: white; position: absolute; top: -10%; left: 0; right: 0; bottom: 0;
	z-index: 1;
}
.tank:after{
	content: ""; position: absolute; left: -2px; right: -2px;
	bottom: -2px; border-bottom-left-radius: 6px; border: solid black 0px;
	border-width: inherit; z-index: 1;
	border-bottom-right-radius: 6px; top: -10%; border-top: 0;
}
.tank .scale-10{
	position: absolute; right: 0; top: 0; bottom: 0; display: block; z-index: 2; width: 10%;
}
.tank .scale-10 .scale{
	box-sizing: border-box; border-top: solid black 1.5px; width: 100%; display: block;
	height: 10%;
}
.tank .substance-level{
	z-index: 1; position: absolute; right: 0; bottom: 0; left: 0; display: block;
	border-bottom-left-radius: inherit; border-bottom-right-radius: inherit;
	transition: height 1s;
}
.pipe{
	width: 15px; height: 15px; box-sizing: border-box; position: relative; display: inline-block;
}
.pipe:before{
	content: ""; position: absolute; left: 0; right: 0; bottom: 0; top: 0; border: solid black 2px; background: white;
}
.pipe:after{
	content: ""; background: inherit; position: absolute;
}
.pipe.vertical:before { border-top: 0; border-bottom: 0; }
.pipe.horizontal:before{ border-left: 0; border-right: 0; }
.pipe.vertical:after{ left: 2px; right: 2px; }
.pipe.horizontal:after{ top: 2px; bottom: 2px; }
.pipe.vertical.top-to-bottom:after{ top: 0; bottom: 100%; }
.pipe.vertical.open.top-to-bottom:after{
	animation: pipe_top_to_bot_open linear 1s normal;
	top: 0; bottom : 0;
}
.pipe.vertical.close.top-to-bottom:after{
	animation: pipe_top_to_bot_close linear 1s normal;
	top: 0; bottom : 100%;
}
.pipe.vertical.open.bottom-to-top:after{
	animation: pipe_bot_to_top_open linear 1s normal;
	top: 0; bottom : 0;
}
.pipe.vertical.close.bottom-to-top:after{
	animation: pipe_bot_to_top_close linear 1s normal;
	top: 100%; bottom : 0;
}
.pipe.horizontal.open.left-to-right:after{
	animation: pipe_left_to_right_open linear 1s normal;
	left: 0; right : 0;
}
.pipe.horizontal.close.left-to-right:after{
	animation: pipe_left_to_right_close linear 1s normal;
	left: 0; right : 100%;
}
.pipe.horizontal.open.right-to-left:after{
	animation: pipe_right_to_left_open linear 1s normal;
	left: 0; right : 0;
}
.pipe.horizontal.close.right-to-left:after{
	animation: pipe_right_to_left_close linear 1s normal;
	left: 100%; right : 0;
}
.pipe-connector{
	width: 15px; height: 15px; border: solid black 2px; box-sizing: border-box; background: white; position: relative;
}
.pipe-connector.top-to-right{ border-bottom-left-radius: 10px; border-top: 0; border-right: 0; }
.pipe-connector.top-to-left{ border-bottom-right-radius: 10px; border-top: 0; border-left: 0; }
.pipe-connector.left-n-right-to-bottom{ border-left: 0; border-right: 0; border-bottom: 0; width: 0px; height: 15px; transition: width 0.5s; }
.pipe-connector.left-n-right-to-bottom:before{
	content: ""; width: 15px; height: 15px; border: inherit; border-left: 0; border-right: 0; border-bottom: 0;
	position: absolute; left: 0; top: -2px; background: white; z-index: -1;
}
.pipe-connector.left-n-right-to-bottom:after{
	content: ""; position: absolute; left: 15px; transition: left 0.5s, width 0.5s; height: 15px; background: inherit; width: 0;
}
.pipe-connector.left-n-right-to-bottom.open{ width: 15px; }
.pipe-connector.left-n-right-to-bottom.open:after{ left: 0; width: 15px; }
.pipe-connector.left-n-right-to-bottom.close{ width: 0px; }
.pipe-connector.left-n-right-to-bottom.close:after{ left: 15px; width: 0; }
/*.sun{
	box-shadow: yellow 0px 0px; background: yellow; border-radius: 100%;
	position: relative; border: solid orange 5px; box-sizing: border-box;
	text-align: center; box-shadow: white 0 0 65px 15px;
}
.sun .textarea{
	position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
	color: blue; text-shadow: deepskyblue 1px 1px 5px; font-size: 26px; 
}
.sun:after{ content: ""; display: block; padding-bottom: 100%; }*/

.fan{ position: relative; }
.fan:after{ padding-bottom: 100%; display: block; content: ""; }
.fan:before{
	content: ""; position: absolute; left: 35%; right: 35%; top: 35%; bottom: 35%;
	border-radius: 100%; border: white outset 2px; background: white; z-index: 2; background: lightgray;
	box-shadow: black 0 0 1px 1px inset;
}
.fan.open{ animation: fan_spin linear 1s infinite; animation-play-state: running; }
.fan.close, .fan{ animation: fan_spin linear 1s infinite; animation-play-state: paused; }
.fan .fan-blade{
	border-radius: 100%; background: lightgray; position: absolute; border: white outset 2px;
	box-sizing: border-box; box-shadow: black 0 0 3.5px;
}
.fan .fan-blade:nth-child(1){ top: 0; left: 37.5%; right: 37.5%; bottom: 50%; transform: skewX(15deg); }
.fan .fan-blade:nth-child(2){ top: 37.5%; left: 50%; right: 0; bottom: 37.5%; transform: skewY(-15deg); }
.fan .fan-blade:nth-child(3){ top: 50%; left: 37.5%; right: 37.5%; bottom: 0; transform: skewX(15deg); }
.fan .fan-blade:nth-child(4){ top: 37.5%; left: 0; right: 50%; bottom: 37.5%; transform: skewY(-15deg); }

.fog-spray { width: 100%; position: relative; overflow: hidden; }
.fog-spray .water-stream-line{
	border: white solid 0.5px; position: absolute; height: 0; bottom: 0;
	box-shadow: white 0 0 12px 5px; top: 30%; display: none;
}
.fog-spray.open .water-stream-line{ display: block; animation: spraying 0.15s normal infinite; }
.fog-spray .water-stream-line:nth-child(1){ transform: skewX(-25deg); left: 25%; }
.fog-spray .water-stream-line:nth-child(2){ transform: skewX(0deg); left: 50%; }
.fog-spray .water-stream-line:nth-child(3){ transform: skewX(25deg); left: 75%; }
.fog-spray .water-stream-line:nth-child(4){ transform: skewX(-12.5deg); left: 35%; }
.fog-spray .water-stream-line:nth-child(5){ transform: skewX(12.5deg); left: 62.5%; }
.fog-spray:before{
	content: ""; position: absolute; background: lightgray; top: 0; left: 20%; right: 20%; height: 30%; z-index: 2;
	border-top-left-radius: 50%; border-top-right-radius: 50%; border: white outset 2px;
	box-shadow: black 0 0 5px; box-sizing: border-box;
}
.fog-spray:after{ content: ""; padding-bottom: 100%; display: block; }
.machine-switch{ position: relative; }
.machine-switch:before{
	color: white; content: "ปิด"; font-size: 8vw; position: absolute; display: block; text-align: center;
	width: 100%; height: 100%; padding-top: 0.25em; text-shadow: deepskyblue 0 0 2px;
}
.machine-switch:after{
	padding-bottom: 100%; content: ""; display: block;
}
.automanual{ position: relative; }
.automanual:before{
	color: white; content: "แมนนวล"; font-size: 6vw; position: absolute; display: block; text-align: center;
	height: 100%; padding-top: 0.4em; text-shadow: deepskyblue 0 0 2px; letter-spacing: -3px; width: 150%; left: calc(-25% - 1px);
}
.automanual:after{
	padding-bottom: 100%; content: ""; display: block;
}

.onoffswitch {
    position: relative; width: 45px; display: inline-block;
    /*-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;*/
}
.onoffswitch-checkbox { display: none; }
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer; border: 2px solid black; border-radius: 36px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px; color: white;  box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: ""; padding-left: 10px; background-color: #FFFFFF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: ""; padding-right: 10px; background-color: #FFFFFF; color: #666666; text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 0px; background: red;
    position: absolute; top: 0; bottom: 0; right: 20px;
    border: 2px solid black; border-radius: 36px; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner { margin-left: 0; }
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch { right: 0px; background-color: lime; box-shadow: lime 0 0 15px 7.5px; }
/*===========================================================*/
.pseudo-switch{ display: none; }
.pseudo-button.inside-glowing .pseudo-mimic{
	content: ""; position: absolute; top: -2px; left: -2px; right: -2px; bottom: -2px;
	border: solid darkred 2px; box-shadow: red 0 0 30px 5px inset; border-radius: inherit;
	padding-bottom: 100%;
}
.pseudo-button.inside-glowing .pseudo-switch:checked + .pseudo-mimic{
	border: solid darkgreen 2px; box-shadow: lime 0 0 30px 5px inset; border-radius: inherit;
}
/*============================================================*/
.pseudo-button.inside-glowing .pseudo-switch:checked + .pseudo-mimic + .fan{
	animation: fan_spin linear 1s infinite; animation-play-state: running;
}
.pseudo-button.inside-glowing .pseudo-switch:checked + .pseudo-mimic + .fog-spray .water-stream-line{
	display: block; animation: spraying 0.15s normal infinite;
}
.pseudo-button.inside-glowing .pseudo-switch:checked + .pseudo-mimic + .machine-switch:before{
	content: "เปิด";
}
.pseudo-button.inside-glowing .pseudo-switch:checked + .pseudo-mimic + .automanual:before{
	content: "อัตโนมัติ";
}

/*============================================================*/

.bottom-menu-group{
	position: fixed; bottom: 0; text-align: center; line-height: 100%; width: 100%; z-index: 1.5;
}
.bottom-menu-group .menu{
	display: inline-block; cursor: pointer; color: black; text-shadow: white 1px 1px 10px; font-size: 18px;
	box-sizing: border-box; position: relative; padding: 5px 5px 5px 5px; font-weight: bold;
}
.bottom-menu-group .menu:before{
	position: absolute; top: -2px; left: -3px; right: -3px; bottom: -25px; content: ""; background: darkgray;
	z-index: -1; border: black solid 2px; box-sizing: border-box;
}
.bottom-menu-group .menu:last-child:before{ border-top-right-radius: 15px; }
.bottom-menu-group .menu:first-child:before{ border-top-left-radius: 15px; }

.top-menu-group{
	position: fixed; top: 0; text-align: center; width: 100%; z-index: 2;
}
.top-menu-group .menu{
	display: inline-block; cursor: pointer; color: black; text-shadow: white 1px 1px 10px; font-size: 18px;
	box-sizing: border-box; position: relative; padding: 5px 5px 0 5px; font-weight: bold;
}
.top-menu-group .menu:before{
	position: absolute; top: -2px; left: -3px; right: -3px; bottom: -5px; content: ""; background: darkgray;
	z-index: -1; border: black solid 2px; box-sizing: border-box;
}
.top-menu-group .menu:last-child:before{ border-bottom-right-radius: 15px; }
.top-menu-group .menu:first-child:before{ border-bottom-left-radius: 15px; }
/*===========================================================*/
.mobile-screen .dummy-soil{
	background: saddlebrown ; position: absolute; left: -5px; right: -5px; bottom: -5px; height: 10%;
}
/*===========================================================*/
.floating-dialog .floating-dialog-trigger{ display: none; }
.floating-dialog .floating-dialog-trigger + .floating-dialog-content{
	left: 50%; top: 50%; bottom: 50%; right: 50%; position: fixed; display: block; overflow: hidden;
	color: white;  font-size: 1.75em; opacity: 0;
}
.floating-dialog .floating-dialog-trigger + .floating-dialog-content .close{
	display: none;
}
.floating-dialog .floating-dialog-trigger:checked + .floating-dialog-content{
	left: 5%; top: 5%; bottom: 5%; right: 5%; border-radius: 10px;
	background: rgba(0,0,0,0.8); border: inset gold 5px; transition: left 1s, right 1s, top 1s, bottom 1s, opacity 1s;
	box-shadow: black 5px 5px 15px 0px; padding: 10px 10px 10px 10px; opacity: 1;
}
.floating-dialog .floating-dialog-trigger:checked + .floating-dialog-content .close{
	display: block;
}
.floating-dialog .floating-dialog-content .close{
	position: absolute; top: 0; right: 0;
}
.floating-dialog .floating-dialog-content .close:before{
	display: block; width: 32px; height: 32px; border-radius: 5px; content: "";
	border: solid white 2px; background: crimson;
}
.floating-dialog .floating-dialog-content .close:after{
	content: "X"; color: white; font-size: 30px; position: absolute; left: 0.25em; right: 0; top: -3px; bottom: 0;
	font-family: Arial Black;
}
/*===========================================================*/
@media only screen and (max-width: 411px) {
    .mobile-screen.pixel2{ left: 5px; }
}
/*===========================================================*/
.behind-screen{
	position: fixed; width: 100%; opacity: 0.5; bottom: 0; text-align: center; font-size: 20px;
}