<head>
  <title>Organic Vegetable Greenhouse</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--   <script type="text/javascript" src="./paho-mqtt.js"></script> -->
</head>

<body style="background: deepskyblue;">
	<div class="mobile-screen">
		{{> moblie_appearance }}
	</div>
	<div class="behind-screen">
		ระบบโรงเรือนผักสลัดอินทรีย์
	</div>
</body>

<template name="moblie_appearance">

	<label class="float inside-glowing pseudo-button" for="fan-is-active" style=" width: 15%; top: calc(15px + 5%); left: calc(15% + 5px + 5%); padding: 5px 5px 5px 5px; border-radius: 15%; background: rgba(0,0,0,0.5); max-width: 150px;">
		<input type="checkbox" id="fan-is-active" class="pseudo-switch">
		<div class="pseudo-mimic"></div>
		<div class="fan" style="width: 100%;" id="fan-image"></div>
	</label>
	

	<label class="float inside-glowing pseudo-button" for="fog-spray-is-active" style=" width: 15%; top: calc(15px + 5%); left: calc(15% + 5px + 25%); padding: 5px 5px 5px 5px; border-radius: 15%; background: rgba(0,0,0,0.5); max-width: 150px;">
		<input type="checkbox" id="fog-spray-is-active" class="pseudo-switch">
		<div class="pseudo-mimic"></div>
		<div class="fog-spray" style="width: 100%;" id="fog-spray-image"></div>
	</label>

	<label class="float inside-glowing pseudo-button" for="machine-switch" style=" width: 15%; top: calc(15px + 5%); left: calc(15% + 5px + 45%); padding: 5px 5px 5px 5px; border-radius: 15%; background: rgba(0,0,0,0.5); max-width: 150px;">
		<input type="checkbox" id="machine-switch" class="pseudo-switch">
		<div class="pseudo-mimic"></div>
		<div class="machine-switch" style="width: 100%;" id="machine-switch-image"></div>
	</label>

	<label class="float inside-glowing pseudo-button" for="automanual-is-active" style=" width: 15%; top: calc(var(--tank-top-ruler)); left: calc(5px + 75%); padding: 5px 5px 5px 5px; border-radius: 15%; background: rgba(0,0,0,0.5); max-width: 150px;">
		<input type="checkbox" id="automanual-is-active" class="pseudo-switch">
		<div class="pseudo-mimic"></div>
		<div class="automanual" style="width: 100%;" id="automanual-image">
		</div>
	</label>
	
	<!-- ===================================================== -->
	<!-- Pipe For System -->
	<!-- Pipe Of Water -->
	<div class="float" style="top: calc(15px + 20% + 2px + var(--tank-top-ruler)); left: calc(15% - 2.5px); height: 2.5%;">
		<div class="pipe vertical top-to-bottom" style="height: 100%; background: cyan;"></div>
	</div>
	<div class="float" style="top: calc(15px + 20% + 2.5% + var(--tank-top-ruler)); left: calc(15% - 2.5px);">
		<div class="pipe-connector top-to-right"></div>
	</div>
	<div class="float" style="top: calc(15px + 20% + 2.5% + var(--tank-top-ruler)); left: calc(15% + 5px + 7.5px); width: calc(15% - 7.5px);">
		<div class="pipe horizontal left-to-right" style="width: 100%; background: cyan;"></div>
	</div>
	
	<!-- Pipe Of Organic Fertilizer -->
	<div class="float" style="top: calc(15px + 20% + 2px + var(--tank-top-ruler)); left: calc(5px + 30% + 15px + 15% - 7.5px); height: 2.5%;">
		<div class="pipe vertical top-to-bottom" style="height: 100%; background: yellow;"></div>
	</div>
	<div class="float" style="top: calc(15px + 20% + 2.5% + var(--tank-top-ruler)); left: calc(5px + 30% + 15px + 15% - 7.5px);">
		<div class="pipe-connector top-to-left"></div>
	</div>
	<div class="float" style="top: calc(15px + 20% + 2.5% + var(--tank-top-ruler)); left: calc(5px + 30% + 15px + 15% - 7.5px - 15% + 7.5px); width: calc(15% - 7.5px);">
		<div class="pipe horizontal left-to-right" style="width: 100%; background: yellow;"></div>
	</div>

	<!-- Connection Between Water Pipe And Organic Pipe -->
	<div class="float" style="top: calc(15px + 20% + 2.5% + var(--tank-top-ruler)); left: calc(5px + 30%);">
		<div class="pipe-connector left-n-right-to-bottom" style="background: linear-gradient(to right, cyan, lightgray ,yellow)"></div>
	</div>
	<div class="float" style="top: calc(15px + 20% + 2.5% + 15px + var(--tank-top-ruler)); left: calc(5px + 30%); height: calc((5px + 30%) - (15px + 20% + 2.5% + 15px));">
		<div class="pipe vertical top-to-bottom" style="height: 100%;  background: lightgray;"></div>
	</div>

	<!-- Pipe Of Compound -->
	<div class="float" style="top: calc(15px + 20% + 10% + 20% + 2px + var(--tank-top-ruler)); left: calc(5px + 15% + 15%); height: 15%;">
		<div class="pipe vertical top-to-bottom" style="height: 100%; background: lightgray;"></div>
	</div>

	<!-- Pipe For Bio Production -->
	<div class="float" style="top: calc(15px + 20% + 10% + 20% + 2px + var(--tank-top-ruler)); right: calc(10px + 15% - 7.5px); height: 15%;">
		<div class="pipe vertical top-to-bottom" style="height: 100%; background: magenta;"></div>
	</div>
	<!-- =================================================== -->

	<!-- Water Tank -->
	<div class="float" style="left: 5px; top: calc(5px + var(--tank-top-ruler)); width: 30%; height: 20%;">
		<div class="tank" style="width: 100%; height: 100%;">
			<div class="scale-10"></div>
			<div class="substance-level" style="height: 90%; background: cyan;" id="water-level"></div>
		</div>
	</div>
	<div class="float" style="left: 5px; top: calc(5px + var(--tank-top-ruler)); width: 30%; height: 20%; text-align: center; font-size: 26px;">
		<div style="margin: 1em 0 1em 0;">
			น้ำ
		</div>
	</div>
	<div class="float" style="top: calc(5px + var(--tank-top-ruler) + 20% + 15px); right: calc(85% + 5px); ">
		<div class="onoffswitch">
		    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="WaterPump">
		    <label class="onoffswitch-label" for="WaterPump">
		        <span class="onoffswitch-inner"></span>
		        <span class="onoffswitch-switch"></span>
		    </label>
		</div>
	</div>
	<!-- Organic Fertilizer Tank -->
	<div class="float" style="left: calc(5px + 30% + 15px); top: calc(5px + var(--tank-top-ruler)); width: 30%; height: 20%;">
		<div class="tank" style="width: 100%; height: 100%;">
			<div class="scale-10"></div>
			<div class="substance-level" style="height: 90%; background: yellow;" id="organicFertilizer-level"></div>
		</div>
	</div>
	<div class="float" style="left: calc(5px + 30% + 15px); top: calc(5px + var(--tank-top-ruler)); width: 30%; height: 20%; text-align: center; font-size: 26px;">
		<div style="margin: 1em 0 1em 0;">
			ปุ๋ยหมัก<br>
			pH: -
		</div>
	</div>
	<div class="float" style="left: 5px; top: calc(5px + var(--tank-top-ruler) + 20% + 15px); left: calc(50% + 15px);">
		<div class="onoffswitch">
		    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="OrganicFertilizerPump">
		    <label class="onoffswitch-label" for="OrganicFertilizerPump">
		        <span class="onoffswitch-inner"></span>
		        <span class="onoffswitch-switch"></span>
		    </label>
		</div>
	</div>
	<!-- Compound Fertilizer Tank -->
	<div class="float" style="left: calc(5px + 15% + 7.5px); top: calc(5px + 30% + var(--tank-top-ruler)); width: 30%; height: 20%;">
		<div class="tank" style="width: 100%; height: 100%;">
			<div class="scale-10"></div>
			<div class="substance-level" style="height: 90%; background: lightgray;" id="compound-level"></div>
		</div>
	</div>
	<div class="float" style="left: calc(5px + 15% + 7.5px); top: calc(5px + 30% + var(--tank-top-ruler)); width: 30%; height: 20%; text-align: center; font-size: 26px;">
		<p>
			ถังผสม<br>
			pH: <span id="compound-pH">-</span><br>
			EC: <span id="compound-EC">-</span><br>
		</p>
	</div>
	<div class="float" style="top: calc(5px + var(--tank-top-ruler) + 20% + 15px + 10%); right: calc(100% + 10px - (5px + 15% + 7.5px)); left: -30px; text-align: right;">
		<p style="color: black; text-shadow: white 0 0 1.5px; font-size: 20px; letter-spacing: -2px;">ปั้มวนสาร</p>
		<div class="onoffswitch">
		    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="CompoundCyclicFan">
		    <label class="onoffswitch-label" for="CompoundCyclicFan">
		        <span class="onoffswitch-inner"></span>
		        <span class="onoffswitch-switch"></span>
		    </label>
		</div>
	</div>
	<!-- Bio Production Tank -->
	<div class="float" style="right: 15px; top: calc(5px + 30% + var(--tank-top-ruler)); width: 30%; height: 20%;">
		<div class="tank" style="width: 100%; height: 100%;">
			<div class="scale-10"></div>
			<div class="substance-level" style="height: 90%; background: magenta;"></div>
		</div>
	</div>
	<div class="float" style="right: 15px; top: calc(5px + 30% + var(--tank-top-ruler)); width: 30%; height: 20%; text-align: center; font-size: 26px; text-shadow: white 0 0 2px; ">
		<p>ชีวภัณฑ์</p>
	</div>

	<!-- Switch For Compound Fertilizer -->
	<div class="float" style="top: calc(15px + 20% + 10% + 20% + 2px + 5% + var(--tank-top-ruler)); left: calc(5px + 15% + 15% - (28px / 2));">
		<div class="onoffswitch">
		    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="Compound">
		    <label class="onoffswitch-label" for="Compound">
		        <span class="onoffswitch-inner"></span>
		        <span class="onoffswitch-switch"></span>
		    </label>
		</div>
	</div>
	<div class="float" style="top: calc(15px + 20% + 10% + 20% + 2px + 5% + var(--tank-top-ruler)); right: calc(10px + 15% - 7.5px - (28px / 2));">
		<div class="onoffswitch">
		    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="BioProduction">
		    <label class="onoffswitch-label" for="BioProduction">
		        <span class="onoffswitch-inner"></span>
		        <span class="onoffswitch-switch"></span>
		    </label>
		</div>
	</div>
	<!--========================================================================-->

	<div class="float floating-dialog">
		<input type="radio" name="bottom-menu-dialog-group" id="close" class="floating-dialog-trigger">
		<input type="radio" name="bottom-menu-dialog-group" id="weather-and-soil" class="floating-dialog-trigger">
		<div class="floating-dialog-content">
			<label class="close" for="close"></label>
			<p>
				<span id="date-date"></span><br>
				EC: <span style="color: lime;">1.9</span> mS/cm<br>
				pH: <span style="color: lime;">6.2</span><br>
				อุณหภูมิน้ำ: <span style="color: lime;">30</span><br>
				อุณหภูมิ: <span style="color: orangered;">37</span><br>
				ความชื้น: <span  style="color: yellow;">85.5</span>%<br>
				ความเข้มแสง: <span style="color: lime;">200,000</span><br>
				ฝน: <span style="color: lime;">0</span> มม.<br>
				ลม: <span style="color: lime;">10</span> ม./ชม.<br>
				ความชื้นในดิน: <span style="color: lime;">50</span>%<br>
				พ่นหมอก: <span  style="color: lime;">เปิด</span><br>
				พัดลม: <span style="color: lime;">เปิด</span>
			</p>
		</div>
		<input type="radio" name="bottom-menu-dialog-group" id="planting-plan" class="floating-dialog-trigger">
		<div class="floating-dialog-content">
			<label class="close" for="close"></label>
			<p>Maintainancing...</p>
		</div>
	</div>

	<div class="float" style="top: 0; left: calc(1%); right: calc(1%);">
		<div class="top-menu-group">
			<label class="menu" for="weather-and-soil">สภาพแวดล้อม</label>
			<label class="menu" for="planting-plan">วางแผนการปลูก</label>
		</div>
	</div>

</template>